* , *::before, *::after
    box-sizing: border-box
ul,ul 
    padding: 0
body, h1, h2, h3, h4, p, ul[class], ol[class], li,
figure, figcaption, blockquote, dl, dd 
    margin: 0;

ul,ol
    list-style: none

img
    max-width: 100%
    display: block

body 
    min-height: 100vh
    scroll-behavior: smooth
    text-rendering: optimizeSpeed
    line-height: 1.5

a:not([class]) 
    text-decoration-skip-ink: auto

input, button, textarea, select 
    font: inherit;

