@import _default.sass
@import _option.sass

h1
	color: red
	font-size: 30px

.container
	width: 100%
	max-width: nth($mediaBp, 1)
	margin: 0 auto
	padding: 0 15px

@media screen and ( max-width: nth($mediaBp, 1)  )
	h1
		color: yellow

@media screen and ( max-width: nth($mediaBp, 2)  )
	h1
		color: green
@media screen and ( max-width: nth($mediaBp, 3)  )
	h1
		color: grey
