*, *::before, *::after {
  box-sizing: border-box;
}

ul, ul {
  padding: 0;
}

body, h1, h2, h3, h4, p, ul[class], ol[class], li,
figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

ul, ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

input, button, textarea, select {
  font: inherit;
}

h1 {
  color: red;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (max-width: 1200px) {
  h1 {
    color: yellow;
  }
}

@media screen and (max-width: 992px) {
  h1 {
    color: green;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    color: grey;
  }
}
